html {
    font-family: sans-serif;
    background-color: lightcyan;
}

.title {
    color: darkred;
    font-weight: bold;
}

.user {
    color: darkgreen;
    font-weight: bold;
}

.tripcode {
    color: darkgreen;
}

.arrows {
    float: left;
    margin-right: 7px;
    margin-left: 2px;
}

.post_container {
    display: table;
    border: 1px solid cadetblue;
    margin-bottom: 7px;
}

.post {
    padding: 4px;
}

.post.header {
    background-color: aquamarine;
    padding-left: 7px;
    padding-right: 7px;
}

.post.body {
    background-color: lightskyblue;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tag {
    font-size: 7pt;
    padding: 3px;
    display: inline;
    font-weight: bolder;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
}

.tag.archived {
    background-color: royalblue;
}

.tag.banned {
    background-color: darkred;
}

.tag.sticky {
    background-color: rebeccapurple;
}