{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block header %}
    <h1>{% block title %}/{{ uri }}/ - {{ thread_data["thread_id"] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form id="new_post" action="{{ url_for('thread.new_reply', uri=uri, thread=thread_data["thread_id"]) }}" name="new_post" method="post" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" placeholder="Anonymous">
    <label for="email">Options</label>
    <input name="email" id="email" value="{{ request.form['email'] }}">
    <label for="body">Body</label>
    <textarea name="body" id="body" required></textarea>
    <input type="submit" value="Post">
    </form>

    <div class="thread_header">
        <span class="thread_no">{{ thread_data["thread_id"] }}</span>
        &nbsp;||&nbsp;
        <span class="title">{{ thread_data["title"] }}</span>
    </div>

    {% for reply in replies %}
        &gt;&gt;{{ reply["reply_id"] }}
        <div class="reply header">
            <span class="user">
                    {% if reply["email"] == "" %}
                        {{ reply["name"] }}
                    {% else %}
                        <a href="mailto:{{ reply["email"] }}">{{ reply["name"] }}</a>
                    {% endif %}
                </span>
            <span class="date">{{ reply["created"] }}</span>
        </div>
        <div class="reply body">
            {{ reply["body"] }}
        </div>
    {% endfor %}
{% endblock %}